@use "../../global" as *;

.c-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width:rem(240);
    height:rem(60);
    border: 1px solid var(--red);
    border-radius: rem(20) 0px rem(20) 0px;
    position: relative;

    &:hover {
        background-color:var(--red);
        color: var(--white);
    }
}

.c-button a::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: rem(8);
    background-color: var(--black);
    rotate: 45deg;
    position: absolute;
    top: rem(26);
    left: rem(200);
}

.c-button a:hover::before{
    background-color: var(--white);
}

.c-button a::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: rem(8);
    background-color: var(--black);
    rotate: -45deg;
    position: absolute;
    top: rem(21);
    left: rem(200);
}

.c-button a:hover::after{
    background-color: var(--white);
}




//title

.c-subtitle-group {
    width: rem(224);
}

.c-subtitle {
font-size: rem(32);
font-family: 'sippori-mincho', serif;
}

.c-subtitle-en {
    font-family:'Lora', serif;
color: var(--red);
padding-top: rem(10);

@include MidTab {
    padding-top: rem(20);
    }
}

.c-subtitle-en::before{
content: "";
display: inline-block;
width: rem(40);
height: 1px;
background-color: var(--red);
margin-right: rem(20);
position: relative;
top: rem(-5);
margin-top: rem(20);
}
